<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <table class="table" style="max-width: 660px;" th:object="${job}">
        <tr>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Core Competency</th>
        </tr>
        <tr>
            <td th:text="*{name}"></td>
            <td th:text="*{employer}"></td>
            <td th:text="*{location}"></td>
            <td th:text="*{positionType}"></td>
            <td th:text="*{coreCompetency}"></td>
        </tr>
    </table>
</div>

</body>
</html>